# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/inmobiliaria-formosa

# Puerto de la aplicacion
PORT=3000

# Configuracion de WhatsApp
WHATSAPP_SESSION_PATH=./.wwebjs_auth
WHATSAPP_HEADLESS=true

# Configuracion de la aplicacion
NODE_ENV=development
